.All{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.banner{
    margin:50px 0px;
    background-image: url("../../searchBackground2.png");
    width: 80%;
    height: 100%;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10vh;
    padding: 30px;
}

.Img{
    width: 22px;
    height:22px;
    align-self: center;
}

.title{
    font-size: 40px;
    color: white;
    background-color: #5b3263;
    padding: 20px;
    border-radius: 40px;
    text-shadow: 1px 1px 5px #eceaea;
}

.searchBar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 5vw;
    border-radius: 40px;
    background-color: white;
    border: none;
    outline: none;
    width: 80%;
    align-self: center;
    height: 15vh;
    flex-wrap: wrap;
}

.bar{
    display: flex;
    flex-direction: row;
    align-items:flex-start;
    justify-content: center;
    gap: 2px;
}

.inputbar{
    border: none;
    outline: none;
    font-size: 2vh;
    color: #000;
}

.searchButton{
    position: relative;
    right: 1.25;
    font-size: 2vh;
    color: white;
    border: none;
    padding: 1vw 4vw;
    border-radius: 30px;
    border-color: #5b3263;
    background-color: #5b3263;
    cursor: pointer;
}

.serachButton:hover{
    box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 2px 4px rgba(0, 0, 0, .25);
  }


